/* #=id .=class */


/* define header */

header {
    width: 80vw;
    height: 15vh;
    position: sticky;
    top: -10vh;
    align-self: center;
    left: 10vw;
    background-color: rgb(140, 225, 150);
    border-radius: 1vw;
    border-style: solid;
    border-color: rgb(103, 168, 111);
    box-shadow: -0.25vw 0.2vw 0.2vw grey;
}

#navbar {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.dropdown {
    height: 6vh;
    width: 7vw;
    overflow: hidden;
}

.dropdown:hover {
    /*hover*/
    height: fit-content;
    overflow: visible;
    background-color: rgb(157, 219, 164);
    border-radius: 0.25vw;
    border-style: solid;
    border-color: rgb(103, 168, 111);
    box-shadow: -0.25vw 0.2vw 0.2vw grey;
}

.dropright {
    overflow: hidden;
    display: block;
    height: 3vh;
}

.dropright:hover {
    overflow: visible;
    width: fit-content;
    height: fit-content;
    background-color: rgb(189, 235, 194);
    border-radius: 0.25vw;
    border-style: solid;
    border-color: rgb(123, 158, 128);
    box-shadow: -0.25vw 0.2vw 0.2vw grey;
}

.droppedright {
    overflow: visible;
    display: flex;
    flex-direction: column;
}

#js>h3 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    width: 10vw;
}

h1 {
    font-size: 4vh;
    text-align: center;
    width: 100%;
}

h2 {
    margin-block-start: 0.75vh;
    margin-block-end: 0.75vh;
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

h4 {
    margin-block-start: 0.75vh;
    margin-block-end: 0.75vh;
    font-size: 10px;
    text-align: right;
}

a {
    text-decoration: inherit;
    color: inherit;
}


/* define main */


/* define footer */

#footer {
    width: 100px;
    height: 10px;
    background-color: rgb(0, 14, 77);
    border-radius: 1vw;
    border-style: solid;
    border-color: rgb(24, 44, 133);
    box-shadow: -0.25vw 0.2vw 0.2vw grey;
    position: relative;
    bottom: 0px;
    left: 0px;
}